*{
    font-family: roboto;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
}

.barra{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 5px;
    width: 50%;
    height: 40px;
    background-color: #fff;
}

.lupa {
    position: absolute;
    background-color: white;
    right: 0;
    line-height: 38px;
    color: #666;
    padding-right: 10px;
}

.busqueda{
    border: 0px;
    width: 100%;
}

.logo-busqueda{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link-logo{
    width: 30%;
    height: 40px;
}

a .logo{
    height: 100%;
    width: 100%;
    margin-right: 30px;
}


.menu1{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    padding: 0;
}

.menu2{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding: 0;
}

.link{
    margin: 0 5px;
}


.header{
    background-color: #EAC926;
    padding: 20px;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    font-size: 12px;
}


nav{
    display: none;
}

.burger-menu{
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: #1259c3;
    text-align: center;
    line-height: 52px;
    color: #ffffff;
    border-radius: 5px;
    margin: auto;
}

.slogan{
    font-size: 12px;
    height: 40px;
    margin: 35px auto;
    padding-left: 50px;
}

#banner{
    width: 100%;
}

main{
    width: 90%;
    margin: auto;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form{
    width: 50%;
}

form input{
    width: 100%;
    margin: 10px 0;
    border: #fff;

    border-radius: 5px;
}

.input-texto{
    height: 30px;
    padding-left: 15px;
    color: grey;
}

.register-form{
    margin: 50px auto;
}

.titulo-form{
    display: block;
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
}

.comprador-vendedor{
    display: flex;
}

.checkbox{
    display: block;
}

.enviar-form{
    margin-top: 30px;
}

input.intereses{
    width: 15%;
}

.boton{
    color: #fff;
    background-color: #1259c3;
    border: #1259c3;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    transition: all .5s;
}

.boton.borrar{
    background-color: red;
    
}

.boton.login:hover{
    background-color: #0022AA;
}

span.error{
    color: red;
}

article.producto{
    transition: all .5s;
}

.producto{
    width: 100%;
    margin-bottom: 30px;
}


.titular{
    font-size: 24px;
    color: #666;
}

.datos-productos{
    position: relative;
    background-color: white;
    margin: 0;
    padding: 20px 20px 1px 20px;
}


.circulo{
    position: absolute;
    text-align: center;
    line-height: 33px;
    width: 40px;
    height: 40px;
    border: 1px solid #39b54a;
    border-radius: 400px;
    padding: 3px;
    top: -20px;
    right: 20px;
    margin-bottom: 2px;
}

.fa-truck{
    color: #39b54a;
    
}

.img-producto{
    width: 100%;
    margin: 0px;
}

.precio-dto{
    display: flex;
}

.precio{
    width: 30%;
    font-size: 18px;
    margin-top: 2px;
}

.descuento{
    width: 70%;
    margin-top: 2px;
    font-size: 16px;
    color: #39b54a;
    padding-left: 40px;
}

.nombre-producto{
    font-size: 16px;
    color: #666;
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 20px;
    
}

article.producto:hover .datos-productos .nombre-producto{
    visibility: visible;
}

footer{
    
    background-color: white;
    margin: 0px;
    width: 100%;
    padding: 10px 0 10px 0;
}


.seccion-footer{
    margin: 50px;
}

.info-footer{
    border: 1px solid black;
}

.titulo-footer{
    font-size: 18px;
    color: #666;
    margin: 0px;
    text-align: center;
}

.texto-footer{
    font-size: 12px;
    color: #666;
    margin: 0px;
    text-align: center;
}

.copyrigth{
    font-size: 12px;
    color: #666;
}

.contenedor-icono-footer{
    height: 50px;
}

.icono-footer{
    margin: auto;
    height: 50px;
    width: 50px;
    color: #1259c3;
    font-size: 2rem;
}

.icono-footer:hover{
    color: #0022AA;
}


@media (min-width: 361px){

    

    article.producto:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 450px){
    
    .producto{
        width: 45%;
    }
}

@media (min-width: 769px){
    .logo{
        width: 33%;
    }

    .barra{
        width: 33%;
    }

    .slogan{
        width: 33%;
        margin-top: 15px;
    }

    nav{
        display: flex;
        justify-content: space-around;
    }

    .producto{
        width: 45%;
    }

    ul{
        display: inline-block;
    }

    .burger-menu{
        display: none;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer article{
        width: 25%;
    }

}

@media (min-width: 920px){
    .logo{
        width: 33%;
    }

    .barra{
        width: 33%;
    }

    .slogan{
        width: 33%;
        margin-top: 15px;
    }

    .producto{
        width: 23%;
    }

}